/* --nyanza: #d8f3dcff;
--celadon: #b7e4c7ff;
--celadon-2: #95d5b2ff;
--mint: #74c69dff;
--mint-2: #52b788ff;
--sea-green: #40916cff;
--dartmouth-green: #2d6a4fff;
--brunswick-green: #1b4332ff;
--dark-green: #081c15ff; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d8f3dcff;
    font-family: "Montserrat", sans-serif;
}   

#content{
    display: flex;
    flex-direction: column  ;
    margin-top: 5rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


footer{ 
    position: absolute;
    bottom: 0;    
    background-color:#b7e4c7ff;
    opacity: 50%;
    width: 100%;
    text-align: center;
}

footer p{
    padding: 0.5rem;
    font-size: 2rem;
}

/* nav{ 
    position: relative;
    top: 2%;
    left: 25%;
    width: 50%;
    align-content: center;
}

nav ul{
    padding: 0;
    text-align: center;
}

nav li {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;

}

nav a{ 
  color: #344e41ff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
}

nav a:hover{
    color:#588157ff;
} */


