body{
    overflow: hidden;
  }

#formulario{ 
    display: flex;
    padding: 5rem;
    height: fit-content;
    flex-direction: column;
    background-color: white;
    border: 0.5rem solid #1b4332ff;
    border-radius: 2rem;
}


#formulario h1 { 
    font-size: 3rem;
    color: #1b4332ff;
    text-align: center;
    padding: 1rem;
}

#formulario form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


#formulario label{
    font-size: 2rem;
    color: #1b4332ff;
}

#formulario input[type="text"], input[type="password"], input[type = "number"]{ 
    border: 0;
    width: 50rem;
    border-bottom: 0.2rem solid #344e41ff;
    background-color: transparent;
    outline: none; 
    font-size: 1.5rem;
    padding: 1rem;  
    margin-bottom: 2rem;
}


#tipo_usuario{
    margin-bottom: 2rem;
    height: 4rem;
    position: relative;
    border: none;
    overflow: hidden;
    width: 100%;
    
  }
  #tipo_usuario::-moz-focus-inner {
    border: 0;
  }
  #tipo_usuario:focus {
    outline: none;
  }
  #tipo_usuario option{
    position: relative;
    text-align: center;
    width: 25%;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin-right: 10%;
    height: 100%;
    display: inline-block; 
    cursor: pointer;
    border:#1b4332ff solid 0.1rem;
    border-radius: 5px;
    color: #1b4332ff;
}

#tipo_usuario option:checked{
    color:white;
    background-color: #1b4332ff;
}




#submit-button{ 
    position: relative;
    width: 40%;
    left: 30%;

    padding: 1.5rem;
    margin-top: 2rem;

    color:#dad7cdff;
    font-size: 2rem;

    border-radius: 1rem;
    background-color: #1b4332ff;
}

#content .criar-registro{ 
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#content .criar-registro span,a{ 
    font-size: 1.5rem;
    text-decoration: none;
}


