input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  overflow: hidden;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.registro_tipo{ 
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 1rem;
}

.registro_tipo input{ 
  margin-right: 0.5rem;
}

.registro_tipo label{ 
  margin-right: 2rem;
}

.alert {
  z-index: 1; 
  position: absolute;
  padding: 1rem;
  background-color: #af261c;
  color: white;
  border-radius: 1rem;
  font-size: 2rem;
  top: 5%;
}

.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 3rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}