{% extends 'base.html' %}
{%block title %} Login {%endblock%}
{%block head%} 
  {{super()}}
  <link rel="stylesheet" href="/static/register.css"/>
  <link rel="stylesheet" href= "/static/login.css" />
  
{%endblock%}


{% block content%}
<div id = "formulario">

  <h1>Cadastro</h1>

  <form method="post">

    <label for="nome">Nome</label><br>
    <input type="text"  placeholder="Nome" id="nome" name="nome"><br>

    <label for="cpf">CPF</label><br>
    <input type="text"  placeholder="CPF" id="cpf" name="cpf"><br>


    <label for="endereco">Endereço</label><br>
    <input type="text" placeholder="Cidade/UF, Rua, Bairro, Numero" id="endereco" name="endereco">

    <label for="telefone">Telefone</label><br>
    <input type="number" inputmode="numeric" placeholder="Telefone" id="telefone" name="senha">

    
    <label for="senha">Senha</label><br>
    <input type="password" placeholder="Senha" id="senha" name="senha">

    <input type="submit" id = "submit-button" value = "Registrar-se"> 

  </form>        

</div>

{% endblock %}
