
<!DOCTYPE  html>
<html lang="pt-br">

    <head>
        {%block head%}
            <meta charset="UTF-8">
            <me
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href= "/static/base.css" />
            <title>{%block title %} Sistema Bibliotecário {%endblock%} </title>
        {% endblock %}
    </head>

    <body>

        {% block nav %}

        {% endblock %}
        <div id = "content">
            {% block content%}
            
            {% endblock %}
        </div>

        <!-- <footer>
            <p>Trabalho Banco de Dados 2 -  Luis Eduardo Bet e Raphael Bussons</p>
        </footer> -->


    </body>
</html>