{% extends 'base.html' %}
{%block title %} Login {%endblock%}
{%block head%} 
  {{super()}}
  <link rel="stylesheet" href= "/static/home.css" />
{%endblock%}


{% block content%}

  <div class= "navbar">

    <a id= "button-perfil" href="#">Perfil</a>
    <a id = "button-logout" href="{{url_for('logout')}}">LogOut</a> 

  </div>

  <div class = "acervo">

    <h1>Bem vindo, {{current_user.nome}}</h1>
    
    <form method="post" class="barra-pesquisa">

      <div class="busca"> 
        <input type="search" placeholder="Pesquisa..." id="pesquisa" name="pesquisa"><br>
        <input type="submit" id = "submit-button" value = "Buscar"> 
      </div>

      <div class="filtro">
        <span>Filtros:</span>
        <select name="tipo_pesquisa" id="tipo_pesquisa" multiple>
          <option value="1">Livro</option>
          <option value="2">Autor</option>
          <option value="3">Coleção</option>
        </select>

      </div>

    </form>


    <div class="livros"> 

   
    {% if resultado %}
      <h1> Resultados Encontrados</h1>
      <hr>
        <form action = "{{url_for('emprestimo')}}"method="post" id="form-records">
        {% for r in resultado %}
          <div class="records">
              <label class="record-label">ISBN: {{r.isbn}}, Exemplar: {{r.id_exemplar}} 
              <input name="checkbox" type ="checkbox" value={{r.id_exemplar}}>
              </label>
          </div>

        {% endfor %}

        <input type="submit" id = "submit-button2" value = "Reservar"> 
        </form>
    {% endif %}
      
      

    </div>

  </div>

{% endblock %}
