{% extends 'base.html' %}
{%block title %} Login {%endblock%}
{%block head%} 
  {{super()}}
  <link rel="stylesheet" href= "/static/login.css" />
{%endblock%}


{% block content%}
<div id = "formulario">
  <h1>LOGIN</h1>
  <form method="post">

    <select name="tipo_usuario" id="tipo_usuario" multiple>
      <option value="1">Bibliotecario</option>
      <option value="2">Assistente</option>
      <option value="3">Usuário Comum</option>
    </select>

    <label for="cpf">CPF</label><br>
    <input type="text"  placeholder="CPF" id="cpf" name="cpf"><br>
    <label for="senha">Senha</label><br>
    <input type="password" placeholder="Senha" id="senha" name="senha">
    <input type="submit" id = "submit-button" value = "Entrar"> 
  </form>        

  <div class="criar-registro"> 
    <span>Ainda não possui conta?</span> <a href="{{ url_for('register') }}">Criar um conta</a>
  </div>
</div>
{% endblock %}
