{% extends 'base.html' %}
{%block title %} Login {%endblock%}
{%block head%} 
  {{super()}}
  <link rel="stylesheet" href= "/static/home.css" />
{%endblock%}


{% block content%}

<div class= "navbar">

  <a class= "button-perfil" href="{{ url_for('profile') }}">Perfil</a>
  <a class= "button-logout" href="{{url_for('logout')}}">LogOut</a> 

</div>



  {% if resultado %}
      <h1> Resultados Encontrados</h1>
      <hr>
        <form method="post" id="form-records">
        {% for r in resultado %}
          <div class="records">
              <label class="record-label">ISBN: {{r.isbn}}, Exemplar: {{r.id_exemplar}} 
              </label>
          </div>

        {% endfor %}
        </form>
    {% endif %}


{% endblock %}
